# Python
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
__pycache__/
*.pyc

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/

# Environment variables
.env
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Deployment
*.pid
*.seed
*.pid.lock
